---
layout: default
---

<div class="row flex-column-reverse flex-md-row py-2">
    <div class="col-md-8" id="bio">
        <h1>Shaocong Wang</h1>
        <p>
         Shaocong Wang is a final year PhD candidate in the Department of Electrical and Electronic Engineering at the University of Hong Kong,
         advised by Prof. <a href="https://www.eee.hku.hk/~zrwang/">Zhongrui Wang.</a>
         <!-- Before that, he obtained his Master's degree from Xi'an Institute of Optical Precision Mechanics CAS, supervised by Prof. Yuan Yuan, Prof.Xiaoqiang Lu, and Prof. Xuelong Li. He earned his B.Eng degree from the Jilin University. -->

        </p>
        <p>
            His research interests includes AI hardware acceleration, software hardware co-design, resistive memory, computing-in-memory, AI for microelectronics, and AI for physics.
        </p>
        <p style="color: rgb(154, 57, 37)">
            I am actively looking for positions in academia and industry. Please feel free to let me know if there are any opportunities. 
            Also please feel free to contact me for colaboration or discussion if you have any interesting ideas.
        </p>
        <p>
            Email: scwang [at] eee [dot] hku [dot] hk
        </p>

        <p style="text-align:center">
            <a target="_blank" href="scwang@eee.hku.hk">Email</a> &nbsp;/&nbsp;
            <a href="https://github.com/wangsc1912">GitHub</a> &nbsp;/&nbsp;
            <a href="https://scholar.google.com/citations?user=NCj3MZoAAAAJ&hl=zh-CN&oi=ao">Google Scholar</a> &nbsp;/&nbsp;
            <a href="https://www.researchgate.net/profile/Shaocong-Wang-2">ResearchGate</a>
            <!-- <a href="https://www.linkedin.com/in/">LinkedIn </a> -->
        </p>
    </div>
    <div class="col-md-4" style="z-index:4;">
        <img alt="profile photo" id="ait" src="images/shaocong.jpeg">
    </div>
</div>

{% include publications.html %}
{% include talks.html %}

<h2>Teaching</h2>

<p>ELEC3846 Numerical Methods and Optimization, teaching assistant, 2021-2022, 2022-2023.</p>

<p>ELEC6049 Digital system design techniques, teaching assistant, 2020-2021.</p>
